.buttons-counter {
	max-width: 400px;
	margin: 0 auto;
	a {
		font-size: 1rem;
		display: block;
		background-color: white;
		width: 100%;
		padding: 24px 8px;
		color: black;

		&:hover {
			color: blue;
			opacity: 0.8;
		}

		.icon {
			padding-left: 16px;
		}
		.text {
			padding-left: 48px;
			padding-right: 16px;
		}
		.counter {
			float: right;
			padding-right: 16px;
		}
	}
	.divider {
		width: 80%;
		margin: 0 auto;
		height: 1px;
		// border-top: 1px solid gray;
	}
}
